src/main/resources/ch/swisstopo/oereb/Versioning.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://schemas.geo.admin.ch/V_D/OeREB/1.0/Versioning"
            targetNamespace="http://schemas.geo.admin.ch/V_D/OeREB/1.0/Versioning"
            version="1.0.1" elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xsd:complexType name="VersionType">
        <xsd:sequence>
            <xsd:element name="version">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:normalizedString">
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="serviceEndpointBase" type="xsd:anyURI" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="GetVersionsResponse" type="GetVersionsResponseType"/>
    <xsd:complexType name="GetVersionsResponseType">
        <xsd:sequence>
            <xsd:element name="supportedVersion" type="VersionType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>

